@font-face {
  font-family: "Norse Bold";
  src: url("../assets/fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  background-color: #4e5f3e;
  background: url("../assets/images/odin-background.avif") no-repeat center
    center/cover;
  width: 40%;
  position: relative;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  gap: 2px;
  margin-top: 30%;
  padding: 10px;
}

.header-logo img {
  width: 120px;
  height: auto;
}

h1 {
  font-family: "Norse Bold", sans-serif;
  font-size: 7rem;
  color: white;
  text-align: center;
}

.photo-credit {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #f9f9f9;
}

.photo-credit a {
  text-decoration: underline;
  color: #f9f9f9;
}

main {
  width: 60%;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20%;
  font-size: 1.2rem;
  padding: 40px;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  border-color: #3b82f6;
  box-shadow: 0px 0px 5px rgba(59, 130, 246, 0.5);
  outline: none;
}

input:invalid {
  border-color: red;
}

.button-container {
  padding: 20px 40px;
  max-width: fit-content;
}

button {
  padding: 12px 50px;
  background-color: #596d48;
  text-wrap: nowrap;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4e5f3e;
}

footer {
  padding: 20px 40px;
}

footer a {
  color: #596d48;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
